.Header {
  display: flex;  
  align-items: center;        
  justify-content: space-between;
  background-color: #282c34;
  font-size: 18px;
  color: white;
  max-height: 48px;
  height: 48px;
  padding: 0 12px;

  .Logo {
    animation: App-logo-spin infinite 20s linear;
    height: 24px;
    width: 100px;
  }

  .Link {
    color: #61dafb;
    width: 100px;
  }

  .Title {
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}