.Map {
  background: gray;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .TileRow {
    display: flex;
    align-items: center;

    &:nth-child(even) {
      background: lightseagreen;
    }

    &:nth-child(odd) {
      background: lightskyblue;
    }
  }
}

// TODO: grid properties should be in utils like flex boxes
.ImageMapPane {
  display: flex;
  align-items: center;

  background-color: lightyellow;
  margin-top: 24px;

  > img {
    margin: 5px 10px;
  }
}