$tile-size: 20px;
$border-wall: 5px solid black;

.Tile {
  background: yellowgreen;
  display: inline-block;
  height: $tile-size;
  width: $tile-size;
  margin: 1px;
  border: 3px dashed wheat;
  box-sizing: border-box;

  &.borderTop {
    border-top: $border-wall;
  }

  &.borderBottom {
    border-bottom: $border-wall;
  }

  &.borderLeft {
    border-left: $border-wall;
  }

  &.borderRight {
    border-right: $border-wall;
  }

  &.blue {
    background-color: blue;
  }

  &.red {
    background-color: red;
  }
}